$light-gray: #dad6d6ff;
$cambridge-blue: #c4e8e9;
$yellow-orange: #f4ac45ff;
$coffee: #694a38ff;
$vivid-burgundy: #a61c3cff;

@mixin flexContainer($display, $direction, $directionX, $directionY) {
    display: $display;
    flex-direction: $direction;
    justify-content: $directionX;
    align-items: $directionY;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/Poppins-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins";
}


.description {
    @include flexContainer(flex, column, baseline, center);
    padding: 1rem;
    height: 510px;

    background-color: $cambridge-blue;

    img {
        border-radius: 50%;
        border: solid 5px $yellow-orange;
        height: 150px;
    }

    .desc-main {
        @include flexContainer(flex, column, baseline, center);

        h1 {
            margin-top: 8px;
            font-size: 25px;
            text-transform: uppercase;
            text-align: center;
        }

        h2 {
            text-align: center;
            text-transform: capitalize;
            color: $coffee;
            font-size: 16px;
        }

        p {
            text-align: center;
            max-width: 500px;
            margin: 20px 0;
        }

        .desc-btn {
            background-color: $coffee;
            border: none;
            border-radius: 5px;
            padding: 10px;
            width: 111px;
            cursor: pointer;

            &:hover {
                transition: all 0.3s linear;
                background-color: $yellow-orange;
                outline: 3px solid $coffee;
                outline-offset: -2px;
                color: $coffee;

                a {
                    color: $coffee;
                }
            }

            a {
                text-decoration: none;
                color: $light-gray;
            }
        }

    }
}

.experience {
    background-color: $vivid-burgundy;

    h1 {
        padding-top: 50px;
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
        color: $cambridge-blue;
    }

    .exp-btns {
        @include flexContainer(flex, row, space-between, center);
        background-color: $yellow-orange;
        padding: 5px;
        width: 300px;
        margin: 0 auto;
        border-radius: 20px;
        gap: 20px;

        button {
            border: none;
            border-radius: 20px;
            width: 50%;
            background-color: $yellow-orange;

            &:hover {
                cursor: pointer;
                background-color: $coffee;
                color: $light-gray;
            }
        }

        .exp-btn {
            background-color: $coffee;
            color: $light-gray;
        }
    }

    .projects {
        @include flexContainer(flex, column, center, center);
        margin-top: 30px;

        .project-article {
            margin: 0 2rem 30px 2rem;
            max-width: 500px;
            background-color: $light-gray;
            border-radius: 10px 10px 0 0;

            h3 {
                text-align: center;
                text-transform: uppercase;
                padding: 8px 0;
                border-bottom: dashed 1px;
                background-color: $cambridge-blue;
                border-radius: 8px 8px 0 0;

                &:hover {
                    transition: all 0.3s linear;
                    background-color: $coffee;

                    a {
                        color: $light-gray;
                    }
                }
            }

            p {
                text-align: center;
                padding: 15px 20px;
                font-size: 16px;
            }

            a {
                text-decoration: none;
                color: #000;
            }

            .link {
                color: $coffee;
            }
        }
    }

    .professional {
        @include flexContainer(flex, column, center, center);
        margin-top: 30px;

        .article-context {
            text-align: center;
            background-color: $light-gray;
            max-width: 500px;
            border-radius: 10px 10px 0 0;
            padding-bottom: 15px;
            margin-bottom: 30px;

            h3 {
                padding-top: 8px;
                background-color: $cambridge-blue;
                border-radius: 8px 8px 0 0;

            }

            h4 {
                background-color: $cambridge-blue;
                border-bottom: dashed 1px;
                padding-bottom: 8px;
                color: $coffee;
            }

            p {
                padding: 0 20px;
                padding-top: 15px;
                font-size: 16px;
            }

        }
    }

    .education {
        @include flexContainer(flex, column, center, center);
        margin-top: 30px;

        .article-context {
            text-align: center;
            background-color: $light-gray;
            width: 500px;
            border-radius: 10px 10px 0 0;
            padding-bottom: 15px;
            margin-bottom: 30px;

            h3 {
                padding-top: 8px;
                background-color: $cambridge-blue;
                border-radius: 8px 8px 0 0;

            }

            h4 {
                background-color: $cambridge-blue;
                border-bottom: dashed 1px;
                padding-bottom: 8px;
                color: $coffee;
            }

            p {
                padding: 0 20px;
                padding-top: 15px;
                font-size: 16px;
            }

        }
    }

    .hide-articles{
        display: none;
    }

}

@media screen and(min-width: 960px) {
    .description {
        @include flexContainer(flex, row, center, center);
        gap: 5rem;

        img {
            height: 350px;
        }

        .desc-main {
            max-width: 600px;
            min-width: 350px;
        }
    }
}

@media screen and(min-width: 1200px) {
    .description {
        gap: 10rem;

        .desc-main {
            h1 {
                margin-top: 0;
            }

            p {
                margin-top: 30px;
                margin-bottom: 30px;

            }
        }
    }

    .experience {

        .projects {
            flex-wrap: wrap;
            flex-direction: row;
            align-items: stretch;
            align-content: stretch;

            .project-article {
                width: 45vw;

            }
        }
    }
}