@import "../../../styles/all.scss";

.profile-picture {
    border-radius: 50%;
    border: 5px solid $orange;

    @include mq($xl, max) {
      width: 350px;
    }
    @include mq($md, max) {
      width: 250px;
    }
  }