@import "../../../styles/all.scss";

.profile-picture {
    border-radius: 50%;
    border: 5px solid $orange;
    width: 350px;

    // @include mq($xl, max) {
    // }
    @include mq($md, max) {
      width: 250px;
    }
  }