
//colors
$blue: #c4e8e9;
$orange: #f4ac45;
$brown: #694a38;
$black: #000;
$black-opacity: rgba(0, 0, 0, 0.2) ;
$off-white: #dad6d6;
$red: #a61c3c;
$white: #fff;

//breakpoints
$sm: 768px;
$md: 1024px;
$lg: 1280px;
$xl: 1440px;
$wide: 2500px;
