@import "../../styles/all.scss";

.header {
  @include display(row, center, center);
  height: 50px;
  background-color: $brown;
  padding: 0 30px;
  position: fixed;
  z-index: 10;
  width: 100%;
  transition: background-color .3s ease-out;
  box-shadow: 0 2px 10px 5px rgba(0,0,0,0.5);

  &.blue {
    background-color: $blue;
  }

  @include mq($md, max) {
    padding: 0 16px;
  }

  &__links-container {
    height: 100%;
    @include display(row, center, flex-end);
    @include mq($md, max) {
      justify-content: center;
    }
  }

  &__link {
    height: 100%;
    display: flex;
    align-items: center;

    &:nth-child(2n) {
      padding: 0 15px;
    }
    // padding: 0 20px;

    // &:hover {
    //   background-color: $black-opacity;
    //   color: $brown;
    // }
  }

  &__link-content {
    color: $off-white;
  transition: color .3s ease-out;

  &.brown {
    color: $brown;
  }
    

    svg {
      display: block;
      font-size: 30px;
    }
  }
}
